@import "./variables.scss";

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px !important;
    background-color: $primaryColor_3;
    color: $primaryColor_2;

}

.footerCoppyrightBox {
    width: 270px;
    margin: auto;
    border-bottom: 1px solid $primaryColor_2;
    font-size: 11px;
    padding-bottom: 5px;
    font-weight: 600;
}

.footerSocialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

.footerSocialMediaIcon{
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}