@import "./Variables_Style.scss";


.CP_contentRow{
    display: flex;
    align-items: center;
    padding-bottom: 1.5em;
}

.CP_headerBox{
    width: 35%;
    max-width: 150px;
}

.CP_mapBox{
    width: 100%;

    & img{
        width: 100%;
    }
}