@import "./Variables_Style.scss";

.cp_contentBox{
    padding: 1.5em 0;
}

.cp_contentRow{
    display: flex;
    align-items: center;
    padding-bottom: 1em;

    &:last-child{
        padding: 0;
    }
}

.cp_headerBox{
    width: 35%;
    max-width: 150px;
    padding-right: 1em;
}

.cp_mapBox{
    width: 100%;

    & img{
        width: 100%;
    }
}