@import "./Variables_Style.scss";



//Main boxes
.hp_treatMobileBox{
    display: none;
    width: 100%;
    box-sizing: border-box;
}

.hp_treatMobTile{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

//Content boxes
.hp_treatMobileRow{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hp_treatMobilePic{
    width: 60%;

    & img{
        width: 100%;
        height: auto;
    }
}

.hp_treatMobileBtn{
    display: flex;
    justify-content: center;
    width: 20%;
}

.hp_treatMobileStyle{
    position: absolute;
    height: 50%;
    width: 300%;
    top: 25%;
    background-color: $primaryColor_1;

    z-index: -1;
}

.hp_treatMobileHeader{
    padding-top: 0.75em;
    border-bottom: 1px solid $primaryColor_2;
}

//***************************
//Media
@media (max-width: 768px){
    .hp_treatMobileBox{
        display: block;
    }
}