@import "./Variables_Style.scss";

.hp_revMainBox{
    // color: $primaryColor_3;
    background-color: $primaryColor_6;
}

.hp_revTopStyle{
    border-left: 100vw solid $primaryColor_3;
    border-bottom: 10vw solid $primaryColor_6;
}
.hp_revBotStyle{
    border-right: 100vw solid $primaryColor_6;
    border-bottom: 10vw solid $primaryColor_1;
}