@import "./Variables_Style.scss";

.hp_mapMainBox {
    width: 100%;
    background-image: linear-gradient($primaryColor_1 70%, $primaryColor_3 70%);
}

.hp_mapContentBox{
    margin: auto;
    object-fit: cover;
    max-width: 1500px;
    width: 60%;
}

@media (min-width: 769px) and (max-width: 1179px){
    .hp_mapContentBox{
        width: 80%;
    }
}

@media (max-width: 768px){
    .hp_mapContentBox{
        width: 100%;
    }
}