@import "./Variables_Style.scss";

$beforeAfterUpDown: 3px;
$beforeAfterSides: 6px;

//Main containers
.hp_contact{
    position: relative;
    background-color: $primaryColor_1;
    width: 100%;
}

.hp_contactMainBox{
    padding-bottom: 3em;
}

.hp_contactContent{
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 1.5em;
    max-width: 1000px;

    &::before {
        position: absolute;
        width: 60%;
        height: 60%;
        content: '';
        top: $beforeAfterUpDown; left: $beforeAfterSides;
        border-top: 2px solid $primaryColor_2;
        border-left: 2px solid $primaryColor_2;
    }

    &::after {
        position: absolute;
        width: 60%;
        height: 60%;
        content: '';
        bottom: $beforeAfterUpDown; right: $beforeAfterSides;
        border-bottom: 2px solid $primaryColor_2;
        border-right: 2px solid $primaryColor_2;
    }
}

.hp_contactTile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 1;
    width: 300px;

    &:nth-child(2){
        padding: 0 1em;
    }
}

.hp_contactHeader{
    padding: 0.75em 0;
}

//Style
.hp_contactTopStyle{
    border-right: 100vw solid $primaryColor_3;
    border-bottom: 10vw solid $primaryColor_1;
}



//***************************
//Media
@media (min-width: 769px) and (max-width: 1179px){
    .hp_contactContent{
        max-width: 665px;
    }

    .hp_contactTile{
        width: 210px;
    }
}


@media (max-width: 768px){
    .hp_contactContent{
        flex-direction: column;
        max-width: 200px;
    }

    .hp_contactTile{
        width: 200px;

        &:nth-child(2){
            padding: 2em 0;
        }
    }

    .hp_contactTopStyle{
        border-right: 100vw solid $primaryColor_3;
        border-bottom: 10vh solid $primaryColor_1;
    }
}