@import "./Variables_Style.scss";


.hp_frtPic{
    position: relative;
    height: 100vh;

    & img{
        opacity: 0.5;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.hp_frtPicMainBox{
    position: absolute;
    bottom: 10%;
    display: flex;

    padding: 0.5em;
    background-color: rgba($primaryColor_1, 0.75);
}

.hp_frtPicTopicBox{
    font-size: 2em;
    letter-spacing: 0.2em;
    font-weight: bold;
}

.hp_frtPicArrow{
    position: relative;
    color: $primaryColor_2;
    font-size: 3em;
    padding: 0 0.75em;
    left: 0;
    animation-name: frontPicArrow;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 2.5s;
}

@keyframes frontPicArrow {
    0%      {top: 0em;}
    15%     {top: 0.65em;}
    30%     {top: 0em;}
    100%    {top: 0em;}
}




