@import "./Variables_Style.scss";


.hp_teamContentnBox{
    position: relative;
    margin: auto;
    width: 60%;
    max-width: 650px;

    & img{
        position: relative;
        z-index: 2;
    }
}

.hp_teamGFM{
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    z-index: 3;
    text-align: end;
    width: 100%;
    padding: 0.75em;
    background-color: rgba($primaryColor_1, 0.6);

}

.hp_teamStyle{
    position: absolute;
    width: 75%;
    height: 60%;
    top: 20%;
    left: 50%;
    z-index: 1;
    background-color: $primaryColor_5;

    &:nth-child(2){
        background-color: $primaryColor_1;
        left: -25%;
    }
}

@media (max-width: 768px){
    .hp_teamContentnBox{
        width: 80%;
        max-width: 550px;
    }
    
    .hp_teamGFM{
        text-align: center;
    }
}