@import "./Variables_Style.scss";


.hp_revMainBox{

}

.hp_revContent{
    margin: auto;
    width: 80%;
    max-width: 250px;
    padding: 1em;

    // background-color: rgba($primaryColor_4, 0.1);
    background-color: #fff;
    border: 2px solid $primaryColor_2;
    border-radius: 20px;
}

.hp_revCustomerBox{
    padding: 0.5em;
    border-bottom: 1px solid $primaryColor_2;
}

.hp_revReviewBox{
    text-align: justify;
    padding: 0.5em;
    // height: 50px;
}


.hp_revTopStyle{
    border-left: 100vw solid $primaryColor_3;
    border-bottom: 10vw solid $primaryColor_6;
}
.hp_revBotStyle{
    border-right: 100vw solid $primaryColor_6;
    border-bottom: 10vw solid $primaryColor_1;
}