@import "./Variables_Style.scss";


.hp_revContent{
    position: relative;
    z-index: 1;
    margin: auto;
    width: 80%;
    max-width: 350px;
    padding: 1em;

    &::before {
        position: absolute;
        width: 35%;
        height: 90%;
        content: '';
        top: 0; left: 0;
        border-top: 2px solid $primaryColor_2;
        border-left: 2px solid $primaryColor_2;
    }

    &::after {
        position: absolute;
        width: 35%;
        height: 90%;
        content: '';
        bottom: 0; right: 0;
        border-bottom: 2px solid $primaryColor_2;
        border-right: 2px solid $primaryColor_2;
    }
}

.hp_revHeadMainBox{
    position: relative;
    z-index: 2;
    padding: 0.5em;
    border-bottom: 1px solid $primaryColor_2;
}

.hp_revReviewBox{
    text-align: justify;
    padding: 0.5em;
}

.hp_revCustBox{
    display: flex;
    align-items: center;
}

.hp_revCustPic{
    width: 3em;
    padding-right: 0.5em;
}

.hp_revSocialMedia{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2em;

    & a{
        width: 40%;

        &:first-child{
            border-right: 1px solid $primaryColor_2;
        }
    }
}