@import "./Variables_Style.scss";


//******************************************************
//Main containers
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: $primaryColor_3;
    letter-spacing: 1px;
}

nav{
    overflow: hidden;
    box-sizing: border-box;
}

header{
    overflow: hidden;
    box-sizing: border-box; 
}

article{
    overflow: hidden;
    box-sizing: border-box;
}

footer{
    overflow: hidden;
    box-sizing: border-box;
}

img{
    object-fit: cover;
    display: block;
    width: 100%;
    height: auto;
}


//******************************************************
//Links
a, a:link, a:visited, a:active, a:hover {
    text-decoration: none;
    color: $primaryColor_2; 
}



//******************************************************
//Custom containers
.ContentStyle{
    text-align: justify;
    color: $primaryColor_2;
    box-sizing: border-box;
    width: 100%;
    padding: 1em 0;

    font-size: $contentFont_l;
}

.TopicStyle{
    font-weight: bold;
    text-align: center;
    //padding-bottom: 1.25em;

    font-size: $topicFont_l;
}

.HeaderStyle{
    font-weight: bold;

    font-size: $headerFont_l;
}

.IconStyle{
    text-align: center;

    font-size: $iconFont_l;
}

.ContentMaxWidth{
    box-sizing: border-box;
    margin: auto;
    max-width: $MaxWidth;
}

.ContentBox{
    box-sizing: border-box;
    width: 100%;
    padding: 0;
}



//******************************************************
//Topic components
//Middle box
.TopicMiddleBox{
    width: 50%;
    padding: 1.25em 0;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TopicMiddleBeam{
    //width: 20%;
    flex: 1;
    height: 2px;
    background-color: $primaryColor_2;
}

.TopicMiddleText{
    padding: 0 1em;
}
//Side box
.TopicSideBox{
    margin-top: 74px;
    width: 50%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: left;
}

.TopicSideBeam{
    flex: 1;
    height: 2px;
    background-color: $primaryColor_2;
}

.TopicSideText{
    padding-right: 0.5em;
}



//******************************************************
//Media
@media (min-width: 769px) and (max-width: 1179px){
    .ContentStyle{   
        font-size: $contentFont_m;
    }
    
    .TopicStyle{
        font-size: $topicFont_m;
    }
    
    .HeaderStyle{
        font-size: $headerFont_m;
    }
    
    .IconStyle{
        font-size: $iconFont_m;
    }

    .ContentBox{
        padding: 0 2em;
    }

    .TopicSideBox{
        margin-top: 54px;
    }
}


@media (max-width: 768px){
    .ContentStyle{   
        font-size: $contentFont_s;
    }
    
    .TopicStyle{
        font-size: $topicFont_s;
    }
    
    .HeaderStyle{
        font-size: $headerFont_s;
    }
    
    .IconStyle{
        font-size: $iconFont_s;
    }

    .ContentBox{
        padding: 0 1em;
    }

//TOPIC
    .TopicMiddleBox{
        width: 100%;
        max-width: 500px;
        padding-left: 1em;
        padding-right: 1em;
    }
    .TopicSideBox{
        width: 100%;
        margin-top: 54px;
    }
}