body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: #f2e7e3;
  letter-spacing: 1px;
}

nav {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:link, a:visited, a:active, a:hover {
  text-decoration: none;
  color: #3C3C3B;
}

.ContentStyle {
  text-align: justify;
  color: #3C3C3B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 2em 0;
  font-size: 14px;
}

.TopicStyle {
  font-weight: bold;
  text-align: center;
  font-size: 26px;
}

.HeaderStyle {
  font-weight: bold;
  font-size: 17px;
}

.IconStyle {
  text-align: center;
  font-size: 40px;
}

.ContentMaxWidth {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  max-width: 1179px;
}

.ContentBox {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 0;
}

.TopicMiddleBox {
  width: 50%;
  padding: 1.25em 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.TopicMiddleBeam {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 2px;
  background-color: #3C3C3B;
}

.TopicMiddleText {
  padding: 0 1em;
}

.TopicSideBox {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.TopicSideBeam {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 2px;
  background-color: #3C3C3B;
}

.TopicSideText {
  padding-right: 0.5em;
}

@media (min-width: 769px) and (max-width: 1179px) {
  .ContentStyle {
    font-size: 13px;
  }
  .TopicStyle {
    font-size: 22px;
  }
  .HeaderStyle {
    font-size: 16px;
  }
  .IconStyle {
    font-size: 35px;
  }
  .ContentBox {
    padding: 0 2em;
  }
}

@media (max-width: 768px) {
  .ContentStyle {
    font-size: 12px;
  }
  .TopicStyle {
    font-size: 18px;
  }
  .HeaderStyle {
    font-size: 15px;
  }
  .IconStyle {
    font-size: 30px;
  }
  .ContentBox {
    padding: 0 1em;
  }
  .TopicMiddleBox {
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
  }
  .TopicSideBox {
    width: 100%;
  }
}
/*# sourceMappingURL=Main_Style.css.map */