@import "./Variables_Style.scss";



//******************************************************
//Main box
.nav_mainBox{
    position: fixed;
    box-sizing: border-box;
    color: $primaryColor_2;

    z-index: 10;
    width: 100%;
}

.nav_mainBarBox{
    background-color: $primaryColor_1;
    padding: 0 40px;
    width: 100%;
    height: 74px;

    box-sizing: border-box; 
    display: flex;
    align-items: center;
}

.nav_logoBox{
    font-size: 1.75em;
}

.nav_spacerBox{
    flex: 1;
}



//******************************************************
//Main Links
.nav_mainLinksBox{
    display: flex;
    text-align: center;
    align-items: center;
}

.nav_linksActive{
    transition: transform 0.3s linear;
    transform: translateX(0%);
}

.nav_linksDeactive{
    transition: transform 0.3s linear;
    transform: translateX(0%);
}



//nav-links animation
.nav_linkHeader {
    position: relative;
    cursor: pointer;
    margin: 1em; 
    
    &:before {
        content: '';
        width: 0%;
        height: 2px;
        background-color: $primaryColor_2;
        position: absolute;
        bottom: -10%; left: 0%;
        transition: all 500ms ease;
    }
    &:hover::before {
        left: 0%;
        width: 100%;
    }

    &:after {
        content: '';
        width: 0%;
        height: 2px;
        background-color: $primaryColor_2;
        position: absolute;
        top: -10%; right: 0%;
        transition: all 500ms ease;
    }
    &:hover::after {
        right: 0%;
        width: 100%;
    }
}


//******************************************************
//Main Links
.nav_subbarMainBox{
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

.nav_subbarSubBox{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    flex-direction: row;
    background-color: $primaryColor_1;
}



//******************************************************
//Sidebar
.nav_sidebarBackground{
    position: absolute;
    display: none;
    background-color: $sidebarColor;
    z-index: -1;

    top: 0px;
    left: 0px;
    width: 100%;
    height: 10000px;
}

.nav_sidebarBackground-Active{
    transition: transform 0.3s linear;
    transform: translateX(0%);
}

.nav_sidebarBackground-Deactive{
    transition: transform 0.3s linear;
    transform: translateX(-100%);
}



//******************************************************
//Burger Toggle
.burgerToggle{
    cursor: pointer;
    display: none;
}

.burgerToggleBar {
    width: 30px;
    height: 2px;
    margin: 5px;
    border-radius: 1px;
    background-color: $primaryColor_2;
    transition: all 500ms ease;

    &:nth-child(2) {
        width: 20px;
    }
}

.toggle .burgerLine_1{
    transform: rotate(135deg) translate(5px, -5px);
}

.toggle .burgerLine_2{
    transform: translateX(-20px);
    opacity: 0;
}

.toggle .burgerLine_3{
    transform: rotate(-135deg) translate(5px, 5px);
}



//******************************************************
//Media
@media screen and (max-width: 1180px) {

    .nav_linkHeader {
        margin-top: 3em;
    }

    .nav_mainBarBox{
        height: 54px;
        padding: 0 20px;
    }

    .nav_mainLinksBox{
        position: absolute;
        flex-direction: column;
        height: auto;

        top: 54px;
        left: 0px;
        width: 100%;
    }

    .nav_linksDeactive{
        transform: translateX(100%);
    }

    .nav_sidebarBackground{
        display: block;
    }

    .burgerToggle{
        display: block;
    }

    .nav_subbarSubBox{
        justify-content:start;
        background-color: $sidebarColor;
        flex-direction: column;
        height: 100vh;
    }
}