@import "./Variables_Style.scss";


//Main box
.price_mainBox{
    display: grid;
    grid-template-columns: auto auto;
}

.price_contentBox{
    padding: 1.5em;
}

.price_row{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
}


//Header
.price_headerBox{
    padding: 0 1em;
}

.price_headerBar{
    height: 1px;
    flex: 1;
    background-color: $primaryColor_2;
}


//Tag
.price_tagRow{
    display: flex;
}

.price_tagContent{
    max-width: 60%;
    text-align: left;
    font-size: 0.9em;
    padding: 0 1em;
}

.price_tagBar{
    flex: 1;
    height: 0.5em;
    border-bottom: 2px dotted $primaryColor_2;
}





@media (max-width: 768px){
    .price_mainBox{
        grid-template-columns: auto;
    }

    .price_contentBox{
        padding: 1.5em 0;
    }
}