@import "./Variables_Style.scss";



.pl_mainBox{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;


    width: 100%;
}

.pl_headerStylingLine{
    height: 2px;
    width: 100%;
    background-color: $primaryColor_2;
}


.pl_listContainer{
    display: flex;
    width: 80%;
}

.pl_headerContainer{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.pl_listHeader{
    font-size: $headerFont_l;
    padding: 10px;
}