@import "./Variables_Style.scss";


//Main box
.price_mainBox{
    display: grid;
    grid-template-columns: auto auto;
}

.price_contentBox{
    padding: 1.5em;
}


//Header
.price_headerBox{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 500px;
    //V1
    padding-bottom: 1em;
}

.price_header{
    //V1
    padding: 0 1em;

    //V2
    //padding: 0.25em 3em;
    //margin-bottom: 0.5em;
    //border: 1px solid $primaryColor_2;

}

.price_headerBar{
    height: 1px;
    flex: 1;
    //V1
    background-color: $primaryColor_2;
}


//Price
.price_tagRow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.price_tagContent{
    width: 50%;
    font-size: 0.9em;

    text-align: right;
    padding: 0.5em 0.5em 0.5em 0;
    border-right: 1px solid $primaryColor_2;

    &:nth-child(2){
        display: grid;
        grid-template-columns: 35% 65%;
        text-align: left;
        padding: 0.5em 0 0.5em 0.5em;
        border: none;
    }
}

@media (max-width: 768px){
    .price_mainBox{
        grid-template-columns: auto;
    }

    .price_contentBox{
        padding: 1.5em 0;
    }
}