@import "./Variables_Style.scss";



.team_rowBox{
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: row;

    &:nth-child(odd){
        flex-direction: row-reverse;
        background: $primaryColor_1;
        background: linear-gradient(90deg, $primaryColor_1 50%, $primaryColor_5 50%);
    }
}

.team_contentBox{
    position: relative;
    box-sizing: border-box;

    padding: 2em;
    width: 50%;
    max-width: $MaxWidth * 0.5;
    
    & img{
        width: 100%;
    }
}

.team_skillsBox{
    padding: 0.5em 0;
    font-weight: bold;
}

.team_styleBox{
    display: none;
    position: absolute;
    background-color: $primaryColor_5;
    z-index: -1;
    height: 50%;
    width: 150%;
    top: 25%;
    left: -25%;
}


@media (max-width: 768px){
    .team_rowBox{
        flex-direction: column !important;

        &:nth-child(odd){
            background: $primaryColor_1 !important;
        }
    }

    .team_contentBox{
        width: 80% !important;
        max-width: 450px !important;
        padding: 2em 0 0 0 !important;

        &:nth-child(2){
            padding: 0.75em 0 5em 0 !important;
        }
    }

    .team_styleBox{
        display: block;
    }
}