@import "./Variables_Style.scss";



.tp_rowBox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: row;

    &:nth-child(odd){
        background-color: white;
        flex-direction: row-reverse;
    }
}

.tp_contentBox{
    padding: 0 2em;
    width: 40%;
    max-width: 400px;

    & img{
        width: 100%;
    }

    &:nth-child(2){
        width: 60%;
        max-width: 600px;
        padding: 2em;
    }
}


@media (max-width: 768px){
    .tp_rowBox{
        flex-direction: column !important;
    }
}