//Navbar
$primaryColor_1: #d4b6b8;
$primaryColor_2: #3C3C3B;
$primaryColor_3: #f2e7e3;
$primaryColor_4: #f4ecd8;
$primaryColor_5: #1b464c;

$sidebarColor: rgba($primaryColor_1, 0.95);


//********************
//Font Size
$topicFont_l: 26px;
$topicFont_m: 22px;
$topicFont_s: 18px;

$headerFont_l: 16px;
$headerFont_m: 14px;
$headerFont_s: 12px;

$descriptionFont_l: 15px;
$descriptionFont_m: 13px;
$descriptionFont_s: 11px;

$iconFont_l: 40px;
$iconFont_m: 35px;
$iconFont_s: 30px;

//********************
//Padding Sizes
$padding_l: 21px;
$padding_m: 18px;
$padding_s: 15px;



//********************
//Max Width
$MaxWidth: 1800px;



