//Navbar
$primaryColor_1: #d4b6b8;
$primaryColor_2: #3C3C3B;
$primaryColor_3: #f2e7e3;
$primaryColor_4: #CECDCB;
$primaryColor_5: rgba(#1b464c, 0.8); //#1b464c 
$primaryColor_6: #358C97;

$sidebarColor: rgba($primaryColor_1, 0.95);

//********************
//Font Size
$topicFont_l: 26px;
$topicFont_m: 22px;
$topicFont_s: 18px;

$headerFont_l: 16px;
$headerFont_m: 15px;
$headerFont_s: 14px;

$contentFont_l: 14px;
$contentFont_m: 13px;
$contentFont_s: 12px;

$iconFont_l: 40px;
$iconFont_m: 35px;
$iconFont_s: 30px;

//********************
//Max Width
$MaxWidth: 1179px;

