body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: #f2e7e3;
  letter-spacing: 1px;
}

nav {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:link, a:visited, a:active, a:hover {
  text-decoration: none;
  color: #3C3C3B;
}

.ContentStyle {
  text-align: justify;
  color: #3C3C3B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 2em 0;
  font-size: 14px;
}

.TopicStyle {
  font-weight: bold;
  text-align: center;
  font-size: 26px;
}

.HeaderStyle {
  font-weight: bold;
  font-size: 16px;
}

.IconStyle {
  text-align: center;
  font-size: 40px;
}

.ContentMaxWidth {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  max-width: 1179px;
}

.ContentBox {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 0;
}

.TopicMiddleBox {
  width: 50%;
  padding: 1.25em 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.TopicMiddleBeam {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 2px;
  background-color: #3C3C3B;
}

.TopicMiddleText {
  padding: 0 1em;
}

.TopicSideBox {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.TopicSideBeam {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 2px;
  background-color: #3C3C3B;
}

.TopicSideText {
  padding-right: 0.5em;
}

@media (min-width: 769px) and (max-width: 1179px) {
  .ContentStyle {
    font-size: 13px;
  }
  .TopicStyle {
    font-size: 22px;
  }
  .HeaderStyle {
    font-size: 15px;
  }
  .IconStyle {
    font-size: 35px;
  }
  .ContentBox {
    padding: 0 2em;
  }
}

@media (max-width: 768px) {
  .ContentStyle {
    font-size: 12px;
  }
  .TopicStyle {
    font-size: 18px;
  }
  .HeaderStyle {
    font-size: 14px;
  }
  .IconStyle {
    font-size: 30px;
  }
  .ContentBox {
    padding: 0 1em;
  }
  .TopicMiddleBox {
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
  }
  .TopicSideBox {
    width: 100%;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 15px !important;
  background-color: #f2e7e3;
  color: #3C3C3B;
}

.footerCoppyrightBox {
  width: 270px;
  margin: auto;
  border-bottom: 1px solid #3C3C3B;
  font-size: 11px;
  padding-bottom: 5px;
  font-weight: 600;
}

.footerSocialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
}

.footerSocialMediaIcon {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.nav_mainBox {
  position: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #3C3C3B;
  z-index: 10;
  width: 100%;
}

.nav_mainBarBox {
  background-color: #d4b6b8;
  padding: 0 40px;
  width: 100%;
  height: 74px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_logoBox {
  font-size: 1.75em;
}

.nav_spacerBox {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.nav_mainLinksBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_linksActive {
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.nav_linksDeactive {
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.nav_linkHeader {
  position: relative;
  margin-left: 2rem;
  margin-bottom: 0;
}

.nav_linkHeader:before {
  content: '';
  width: 0%;
  height: 2px;
  background-color: #3C3C3B;
  position: absolute;
  bottom: -10%;
  left: 0%;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.nav_linkHeader:hover::before {
  left: 0%;
  width: 100%;
}

.nav_linkHeader:after {
  content: '';
  width: 0%;
  height: 2px;
  background-color: #3C3C3B;
  position: absolute;
  top: -10%;
  right: 0%;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.nav_linkHeader:hover::after {
  right: 0%;
  width: 100%;
}

.nav_sidebarBackground {
  position: absolute;
  display: none;
  background-color: rgba(212, 182, 184, 0.95);
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 10000px;
}

.nav_sidebarBackground-Active {
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.nav_sidebarBackground-Deactive {
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.burgerToggle {
  cursor: pointer;
  display: none;
}

.burgerToggleBar {
  width: 30px;
  height: 2px;
  margin: 5px;
  border-radius: 1px;
  background-color: #3C3C3B;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.burgerToggleBar:nth-child(2) {
  width: 20px;
}

.toggle .burgerLine_1 {
  -webkit-transform: rotate(135deg) translate(5px, -5px);
          transform: rotate(135deg) translate(5px, -5px);
}

.toggle .burgerLine_2 {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  opacity: 0;
}

.toggle .burgerLine_3 {
  -webkit-transform: rotate(-135deg) translate(5px, 5px);
          transform: rotate(-135deg) translate(5px, 5px);
}

@media screen and (max-width: 1180px) {
  .nav_linkHeader {
    margin-left: 0;
    margin-bottom: 3rem;
  }
  .nav_mainBarBox {
    height: 54px;
    padding: 0 20px;
  }
  .nav_mainLinksBox {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    top: 84px;
    left: 0px;
    width: 100%;
  }
  .nav_linksDeactive {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .nav_sidebarBackground {
    display: block;
  }
  .burgerToggle {
    display: block;
  }
}

.homeStartPic {
  height: 100vh;
  opacity: 0.5;
}

.homeStartPic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hp_contact {
  position: relative;
  background-color: #d4b6b8;
  width: 100%;
}

.hp_contactMainBox {
  padding-bottom: 3em;
}

.hp_contactContent {
  margin: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5em;
  max-width: 1000px;
}

.hp_contactContent::before {
  position: absolute;
  width: 60%;
  height: 60%;
  content: '';
  top: 3px;
  left: 6px;
  border-top: 2px solid #3C3C3B;
  border-left: 2px solid #3C3C3B;
}

.hp_contactContent::after {
  position: absolute;
  width: 60%;
  height: 60%;
  content: '';
  bottom: 3px;
  right: 6px;
  border-bottom: 2px solid #3C3C3B;
  border-right: 2px solid #3C3C3B;
}

.hp_contactTile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  z-index: 1;
  width: 300px;
}

.hp_contactTile:nth-child(2) {
  padding: 0 1em;
}

.hp_contactHeader {
  padding: 0.75em 0;
}

.hp_contactTopStyle {
  border-right: 100vw solid #f2e7e3;
  border-bottom: 10vw solid #d4b6b8;
}

@media (min-width: 769px) and (max-width: 1179px) {
  .hp_contactContent {
    max-width: 665px;
  }
  .hp_contactTile {
    width: 210px;
  }
}

@media (max-width: 768px) {
  .hp_contactContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 200px;
  }
  .hp_contactTile {
    width: 200px;
  }
  .hp_contactTile:nth-child(2) {
    padding: 2em 0;
  }
  .hp_contactTopStyle {
    border-right: 100vw solid #f2e7e3;
    border-bottom: 10vh solid #d4b6b8;
  }
}

.hp_teamContentnBox {
  position: relative;
  width: 35%;
  height: 35vw;
  max-width: 550px;
  max-height: 550px;
  margin: auto;
}

.hp_teamPic {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.hp_teamPic img {
  width: 100%;
}

.hp_teamStyle {
  position: absolute;
  width: 125%;
  height: 80%;
  z-index: 1;
  background-color: rgba(27, 70, 76, 0.8);
  top: 10%;
}

.hp_teamStyle:nth-child(2) {
  z-index: 2;
  background-color: #d4b6b8;
  left: -25%;
}

@media (max-width: 768px) {
  .hp_teamContentnBox {
    width: 60%;
    height: 60vw;
  }
}

.hp_mapMainBox {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, #d4b6b8), color-stop(70%, #f2e7e3));
  background-image: linear-gradient(#d4b6b8 70%, #f2e7e3 70%);
}

.hp_mapContentBox {
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 1500px;
  width: 60%;
}

.hp_mapContentBox img {
  width: 100%;
  height: 100%;
}

@media (min-width: 769px) and (max-width: 1179px) {
  .hp_mapContentBox {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .hp_mapContentBox {
    width: 100%;
  }
}

.hp_treatPcBox {
  display: block;
}

.hp_treatPcRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(40%, #d4b6b8), color-stop(40%, #f2e7e3));
  background-image: linear-gradient(90deg, #d4b6b8 40%, #f2e7e3 40%);
}

.hp_treatPcRow:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(60%, #f2e7e3), color-stop(60%, #d4b6b8));
  background-image: linear-gradient(90deg, #f2e7e3 60%, #d4b6b8 60%);
}

.homeTreatPcContent {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  width: 35%;
  max-width: 550px;
  margin: 2% 3%;
  z-index: 1;
}

.homeTreatPcContent img {
  width: 100%;
}

.hp_treatPcMore {
  text-align: right;
}

.hp_treatPcTextBox {
  padding-bottom: 0.75em;
}

.hp_treatPcStyle_1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 70, 76, 0.8);
  top: -15%;
  left: -15%;
  z-index: -1;
}

.hp_treatPcStyle_2 {
  position: absolute;
  width: 100%;
  height: 130%;
  top: -15%;
  right: -15%;
  z-index: -1;
  background-image: repeating-linear-gradient(45deg, rgba(27, 70, 76, 0.8), rgba(27, 70, 76, 0.8) 8px, transparent 8px, transparent 16px);
}

.hp_treatPcStyle_3 {
  position: absolute;
  width: 70%;
  height: 70%;
  bottom: 15%;
  left: -20%;
  z-index: -1;
  background-image: repeating-linear-gradient(135deg, rgba(27, 70, 76, 0.8), rgba(27, 70, 76, 0.8) 8px, transparent 8px, transparent 16px);
}

.hp_treatPcStyle_4 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 70, 76, 0.8);
  bottom: -15%;
  right: -15%;
  z-index: -1;
}

@media (max-width: 768px) {
  .hp_treatPcBox {
    display: none;
  }
}

.hp_treatMobileBox {
  display: none;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hp_treatMobileRow {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hp_treatMobilePic {
  width: 60%;
}

.hp_treatMobilePic img {
  width: 100%;
  height: auto;
}

.hp_treatMobileBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20%;
}

.hp_treatMobileStyle {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 25%;
  background-color: #d4b6b8;
  z-index: -1;
}

.hp_treatMobileHeader {
  padding-top: 0.75em;
  border-bottom: 1px solid #3C3C3B;
}

@media (max-width: 768px) {
  .hp_treatMobileBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hp_topicMainBox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hp_topicText {
  padding: 0 1em;
}

.hp_topicBeam {
  width: 15%;
  height: 2px;
  background-color: #3C3C3B;
}

.tp_rowBox {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: transparent;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, #d4b6b8));
  background: linear-gradient(90deg, transparent 50%, #d4b6b8 50%);
  /*
    clip-path: 
    polygon(
      0% 5%,     //top left
      5% 0%,     //top left
      95% 0%,    //top right
      100% 5%,   //top right
      100% 95%,  //bottom right
      95% 100%,  //bottom right
      5% 100%,   //bottom left
      0 95%      //bottom left
    );
    */
}

.tp_rowBox:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background: #d4b6b8;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #d4b6b8), color-stop(50%, transparent));
  background: linear-gradient(90deg, #d4b6b8 50%, transparent 50%);
}

.tp_contentBox {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 2em;
  width: 50%;
  max-width: 589.5px;
}

.tp_contentBox img {
  width: 100%;
}

.tp_styleBox {
  display: none;
  position: absolute;
  background-color: rgba(27, 70, 76, 0.8);
  z-index: -1;
  height: 50%;
  width: 150%;
  top: 25%;
  left: -25%;
}

@media (max-width: 768px) {
  .tp_rowBox {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    background: transparent;
  }
  .tp_rowBox:nth-child(odd) {
    background: #d4b6b8 !important;
  }
  .tp_contentBox {
    width: 80% !important;
    padding: 2em 0 0 0 !important;
  }
  .tp_contentBox:nth-child(2) {
    padding: 0.75em 0 5em 0 !important;
  }
  .tp_styleBox {
    display: block;
  }
}

.price_mainBox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.price_contentBox {
  padding: 1.5em;
}

.price_headerBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding-bottom: 1em;
  max-width: 500px;
}

.price_header {
  padding: 0 1em;
}

.price_headerBar {
  height: 1px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #3C3C3B;
}

.price_tagRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price_tagContent {
  width: 50%;
  font-size: 0.9em;
  text-align: right;
  padding: 0.5em 0.5em 0.5em 0;
  border-right: 1px solid #3C3C3B;
}

.price_tagContent:nth-child(2) {
  text-align: left;
  padding: 0.5em 0 0.5em 0.5em;
  border: none;
}

@media (max-width: 768px) {
  .price_mainBox {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .price_contentBox {
    padding: 1.5em 0;
  }
}

.team_rowBox {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.team_rowBox:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background: #d4b6b8;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #d4b6b8), color-stop(50%, rgba(27, 70, 76, 0.8)));
  background: linear-gradient(90deg, #d4b6b8 50%, rgba(27, 70, 76, 0.8) 50%);
}

.team_contentBox {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2em;
  width: 50%;
  max-width: 589.5px;
}

.team_contentBox img {
  width: 100%;
}

.team_skillsBox {
  padding: 0.5em 0;
  font-weight: bold;
}

.team_styleBox {
  display: none;
  position: absolute;
  background-color: rgba(27, 70, 76, 0.8);
  z-index: -1;
  height: 50%;
  width: 150%;
  top: 25%;
  left: -25%;
}

@media (max-width: 768px) {
  .team_rowBox {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .team_rowBox:nth-child(odd) {
    background: #d4b6b8 !important;
  }
  .team_contentBox {
    width: 80% !important;
    padding: 2em 0 0 0 !important;
  }
  .team_contentBox:nth-child(2) {
    padding: 0.75em 0 5em 0 !important;
  }
  .team_styleBox {
    display: block;
  }
}

.cp_contentBox {
  padding: 1.5em 0;
}

.cp_contentRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1em;
}

.cp_contentRow:last-child {
  padding: 0;
}

.cp_headerBox {
  width: 35%;
  max-width: 150px;
  padding-right: 1em;
}

.cp_mapBox {
  width: 100%;
}

.cp_mapBox img {
  width: 100%;
}
/*# sourceMappingURL=out_style.css.map */